@import url('https://fonts.googleapis.com/css?family=Merriweather');

/*
* global style
*/
.no-padding {
  padding: 0px;
}

.card-padding {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
}

/*
* force navbar item and brand
*/
.navbar-brand, .navbar-brand:hover {
  font-family: 'Merriweather', serif;
  border-top: 2px solid rgb(150, 150, 150);
  border-bottom: 2px solid rgb(150, 150, 150);
  font-size: 25px;
  color: #323232;
}

.nav-link, .nav-link:hover {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  color: black;
}

.navbar-brand>span {
  font-family: 'Merriweather', serif;
  color: #FBC02D;
}

/*
* header image text overlay
*/
.header {
  position: relative;
  text-align: center;
  color: white;
}

.header-image {
  width: 100vw;
  height: 433px;
  overflow: hidden;
}

.header-text {
  font-family: 'Merriweather', serif;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 10px;
  font-size: 35px;
}

/*
* scroll down icon
*/
.scroll-down-icon {
  position: fixed;
  z-index: 10;
  right: 10px;
  bottom: 5px;
  animation: scroll-down 2s infinite;
  animation-timing-function: linear;
}

.main__item {
  background: var(--white);
  border-radius: 4px;
  padding: 20px;
  display: inline-block;
  margin: 10px;
}

/*
* scroll down animation
*/
@keyframes scroll-down {
  0%, 100% {
    bottom: 5px;
  }

  10% {
    bottom: 5.5px;
  }

  20% {
    bottom: 6px;
  }

  25% {
    bottom: 6.5px;
  }

  35% {
    bottom: 7px;
  }

  50% {
    bottom: 8px;
  }

  60% {
    bottom: 7.5px;
  }

  75% {
    bottom: 7px;
  }
}

/*
* timeline text
*/
.timeline-header {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  border-bottom: 3px solid #FBC02D;
}

/*
* card
*/
.ethi-card {
  margin-top: 30px;
}

.ethi-card-image {
  width: 100%;
}

.ethi-card-detail {
  background-color: rgba(219, 219, 219, 0.7);
}

.ethi-card-text {
  padding: 20px;
}

/*
* footer
*/
footer {
  background-color: #333333;
}

.copyright {
  color: white;
  font-size: 14px;
  padding: 30px;
  margin: 0;
}

/*
* responsive
*/
@media screen and (max-width: 540px) {
  .row-reverse {
    flex-direction: column-reverse;
  }
}
